body {
    background-color:#8be68b;
    font-family: Arial;
}

.nav li {
    display:inline;
    margin-left:10px;
    padding-right:10px;
}

.container {
    padding:10px 10px 20px 20px;
    margin:20px 20px 20px 20px;
    background-color:#fbf8fd;
}

#kitten {
    display:block;
    margin: 0 auto;
}